:root {
  --first-color: #a1ccd1;
  --second-color: #f4f2de;
  --third-color: #e9b384;
  --fourth-color: #7c9d96;
}

.App {
  background-color: #f4f2de;
  width: 100vw;
  /* height: 100vh; */
  font-family: "Raleway", serif;
}
